<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="credentialsForm" (ngSubmit)="login()">


      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
        <ion-note slot="error" *ngIf="(credentialsForm.get('email').invalid && (credentialsForm.get('email').dirty || credentialsForm.get('email').touched))">Email inválido</ion-note>
      </ion-item>

      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input type="password" placeholder="Senha" formControlName="password"></ion-input>
        <ion-note slot="error" *ngIf="(credentialsForm.get('password').invalid && (credentialsForm.get('password').dirty || credentialsForm.get('password').touched && credentialsForm.get('password').errors))">Senha inválida, a senha deve ter pelo menos 6 digitos</ion-note>
      </ion-item>




      <ion-button expand="full" type="submit" [disabled]="!credentialsForm.valid">Login</ion-button>
      <ion-button expand="full" type="button" (click)="register()">Criar conta</ion-button>
  </form>
</ion-content>
